.bg-aidelab {
    background-color: #0A4158;
}

.menu-aidelab li:hover {
    background-color: #E4D7D0;
}

.menu-aidelab li:hover>a {
    color: #0A4158 !important;
}

.menu-aidelab li>a {
    font-weight: bold;
}

.navbar-brand {
    font-size: 20px !important;
}

.card-materi {
    /* padding-top: 33%; */
    height: 300px;
    background-color: #E4D7D0 !important;
    border-width: thick;
    border-radius: 25px;
    border-color: #0A4158 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-materi:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-kontrak {
    height: 250px;
    background-color: #E4D7D0 !important;
    border-width: thick;
    border-radius: 25px;
    border-color: #0A4158 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-kontrak:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.modal-aidelab {
    background-color: #E4D7D0 !important;
    border-width: thick;
    border-radius: 25px;
    border-color: #0A4158 !important;
}

.modal-aidelab .modal-header {
    border-bottom: 0;
}

.modal-aidelab .modal-footer {
    border-top: 0;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #0A4158;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
.separator:not(:empty)::after {
    margin-left: .25em;
}